@font-face{
    font-family: 'BallparkWeiner';
    src:    url('../polices/ballpark.eot') format('embedded-opentype'),
            url('../polices/ballpark.svg') format('svg'),
            url('../polices/ballpark.ttf') format('truetype'),
            url('../polices/ballpark.woff') format('wolff')
}

@font-face{
    font-family: 'Day Roman';
    src:    url('../polices/dayrom.eot') format('embedded-opentype'),
            url('../polices/dayrom.svg') format('svg'),
            url('../polices/dayrom.ttf') format('truetype'),
            url('../polices/dayrom.woff') format('wolff')
}

body {
    background-image: url('../images/fond_jaune.png');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    columns: #181818;
    width: 900px;
    margin:auto;
}

body>header {
    background:bottom repeat-x  url(../images/separateur.png) ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}
body>header img {
    width: 59px;
    height: 60px;
}
body>header h1 {
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin:0px;
}
body>header h2 {
    font-family: 'Day Roman', serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
    clear:left;
    text-align: right;
}

body>header ul{
    list-style: none; 
    display:flex;
}

body>header li{
    margin-right: 15px;
}

body>header a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

body>header a:hover{
    color: #760001;
    border-bottom: 3px solid #760001;
}

main header {
    background: url("../images/sanfrancisco.jpg");
    height: 219px;
    position:relative;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    margin-bottom:25px
    
}

#desc_img{
    background:  rgba(24,24,24,0.8);
    position: absolute;
    bottom:0px;
    width: 100%;
    padding: 15px 0px 15px 4px;
  
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
}
#desc_img a{
    

    position: absolute;
    right: 5px;
    bottom: 8px;
    background: url('../images/fond_degraderouge.png') repeat-x;  
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 6px 3px;
    color: white;
    text-decoration: none;
    
}





section h1, footer h1, nav a {
    font-family: 'Day Roman';
    text-transform: uppercase;
}